* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

main {
    width: 100%;
    height: 500px;
    border: 1px solid red;
    /* position: relative; */
}

.container {
    width: 100%;
    height: 250px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box {
    width: 50px;
    height: 50px;
    background-color: white;
}

#box1{
    position: absolute;
    background-color: red;
    /* bottom: 0; */
    /* right: 0; */
    border-radius: 50%;
    /* top: calc(50% -25px); */
}

#box2{
    position: absolute;
    background-color: blue;
    bottom: 0;
    /* right: 0; */
}

#box3{
    position: absolute;
    background-color: green;
    right: 0;
}

#box4{
    position: absolute;
    background-color: white;

}
#point {
    width: 10px;
    height: 10px;
    background-color: yellow;
}