.sans-serif{
    font-family: sans-serif;
}
/* 
As classes e as tags ficarão na cor vermelha
.ingredientes{
    h2{
        color: red;
    }

} */

/* 
As tags h2 classes que estiver dentro de uma outra tag  que pssoua a classe .ingradientes ficar amarelo
.ingredientes > h2{
    color: yellow;
} */

/* identificador id */
#ingredientes{
    background-color: rgba(0, 128, 0, 0.395);
    font-family: sans-serif;
    font-size: 24px;

}

#modo-de-preparo{
    background-color: rgba(0, 76, 255, 0.469);
    
    h2{
        font-size: 48px;
        color: red;
        font-family: 'Times New Roman';
    }
    
    font-family: sans-serif;

}