* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

/* apenas o h1 filho do header */
/* header > h1 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
} */

#flags {
    width: 100vw;
    height: 300px;
    background-color:  rgb(206, 206, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;  
}
/* #########   BACKGROUND    ################### */
.bg-color-white {
    background-color: white;
}
.bg-color-red {
    background-color: red;
}
.bg-color-green {
    background-color: green;
}
.bg-color-black {
    background-color: black;
}
.bg-color-blue {
    background-color: blue;
}
.bg-color-yellow{
    background-color: yellow;
}

.flag {
    width: 120px;
    height: 120px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.bar-vertical{
    width: 40px;
    height: 100%;
}

.bar-horizontal {
    width: 120px;
    height: 40px;

}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}
.envolve-flag {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}