* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

/* apenas o h1 filho do header */
/* header > h1 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
} */

#flags {
    width: 100vw;
    height: 300px;
    background-color:  rgb(122, 122, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;  
}

.bg-white {
    background-color: white;
}

.flag {
    width: 120px;
    height: 120px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#japan {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

#bar-green {
    width: 40px;
    height: 100%;
    background-color: green;
}
#bar-white{
    width: 40px;
    height: 100%;
    background-color: white;
}
#bar-red{
    width: 40px;
    height: 100%;
    background-color: red;
}

#bar-blue{
    width: 40px;
    height: 100%;
    background-color: blue;
}

#bar-red-horizontal{ 
    width: 120px;
    height: 40px;
    background-color: red;
}

#bar-yellow-horizontal{ 
    width: 120px;
    height: 40px;
    background-color: yellow;
}

#bar-black-horizontal{ 
    width: 120px;
    height: 40px;
    background-color: black;
}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}